.login-container {
  /* background: #52586d; */
  background: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .background {
    width: 100vw;
    height: 100vh;
 }
 .login-box {
  height: 325px;
  width: 450px;
  background: #313442;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 40%;
  padding-right: 50px;
  border: 1px solid #00b9ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.login-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dude-container {
  height: 100%;
  width: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .astroBoi {
  height: 280px;
  width: 280px;
  animation: MoveUpDown 4s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
 }
 @keyframes MoveUpDown {
  0%,
  100% {
    bottom: 70px;
  }
  50% {
    bottom: 110px;
  }
 }
 .button-container {
  display: flex;
 }