* {
  font-family: 'Roboto', sans-serif;
}

.menu-btn {
  margin-right: 2px;
  color: white;
}

.add-server-btn {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-server-text {
  margin-left: 80px;
  font-size: 1rem;
  color: white;
  height: '55px';
  width: 100%;
  overflow-X: 'hidden'
}

.join-server-text2 {
  margin-left: 80px;
  font-size: 1rem;
  color: #313442;
  height: '55px';
  width: 100%;
  overflow-X: 'hidden'
}

.background{
  height: 100vh;
  width: 100vw;
  position: absolute;
  color: black;
}
.drawer {
  flex-shrink: 0;
}

.header-logo {
  height: 60px;
}

.menu-header {
  height: 63px;
  align-items: center;
  display: flex;
}

.arrow-btn {
  color: white;
}

.list-item-text {
  font-size: 1.2rem;
  text-decoration: none;
}

.server-image {
  background: black;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  margin-right: 15px;
  padding: 0px;
}

.image-test:hover {
  border-radius: 20px;
  transition: ease-in-out;
  transition-duration: 200ms;
}

.server-name-style {
  padding-left: 15px;
  color: white;
}

.tool-bar {
  background: #52586d;
}

.icon-btn {
  margin-right: 2;
}

.news {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
}

.logout-parent {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.news-icon {
  background: transparent;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: 0px 15px 0px 10px;
  padding: 0px;
}

.menu-news {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}

.add-room{
  margin-top: 20vh;
  z-index: 9999;
  position: absolute;
  font-size: 50px;
  width: 25vw;
  height: 30vh;
  background-color: #52586d;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.make-room-btn-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.dark-dash {
  position: absolute;
  z-index: 9999;
  background-color: rgba(39, 39, 39, 0.9);
  top: 0;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

/* form starting stylings ------------------------------- */
.homepage-group {
  position:relative;
  margin-bottom:40px;
 }
 input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid white;
  background: transparent;
  color: white;
 }
 input:focus{
  outline:none;
  border: none;
 }
 /* LABEL ======================================= */
 .label {
  color: white;
  font-size: 18px;
  font-weight:normal;
  position: absolute;
  pointer-events:none;
  left:5px;
  top:20px;
  transition:0.2s ease all;
  transition:0.2s ease all;
  transition:0.2s ease all;
 }
 /* active state */
 input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size:14px;
  color:#00b9ff;
 }
 /* BOTTOM BARS ================================= */
 .bar     {
  position:relative;
  display:block;
  width:300px;
 }
 .bar:before, .bar:after     {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#00b9ff;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
 }
 .bar:before {
  left:50%;
 }
 .bar:after {
  right:50%;
 }
 /* active state */
 input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
 }
 /* HIGHLIGHTER ================================== */
 .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
 }
 /* active state */
 input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
 }
 /* ANIMATIONS ================ */
 @-webkit-keyframes inputHighlighter {
     from { background:#00b9ff; }
  to     { width:0; background:transparent; }
 }
 @-moz-keyframes inputHighlighter {
     from { background:#00b9ff; }
  to     { width:0; background:transparent; }
 }
 @keyframes inputHighlighter {
     from { background:#00b9ff; }
  to     { width:0; background:transparent; }
 }