* {
  font-family: 'Roboto', sans-serif;
}

.menu-btn {
  margin-right: 2px;
  color: white;
}

.add-server-btn {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  flex-shrink: 0;
}

.header-logo {
  height: 60px;
}

.menu-header {
  height: 63px;
  align-items: center;
  display: flex;
}

.arrow-btn {
  color: white;
}

.list-item-text {
  font-size: 1.2rem;
  text-decoration: none;
}

.server-image {
  background: black;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  margin-right: 15px;
  padding: 0px;
}

.image-test:hover {
  border-radius: 20px;
  transition: ease-in-out;
  transition-duration: 200ms;
}

.server-name-style {
  padding-left: 15px;
  color: white;
}

.tool-bar {
  background: #52586d;
}

.icon-btn {
  margin-right: 2;
}

.news {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
}

.logout-parent {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.news-icon {
  background: transparent;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: 0px 15px 0px 10px;
  padding: 0px;
}

.menu-news {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}

.add-room{
  margin-top: 20vh;
  z-index: 10000;
  position: absolute;
  font-size: 50px;
  width: 60vw;
  height: 10vh;
  background-color: white;
}

.dark-dash {
  position: absolute;
  z-index: 9999;
  background-color: rgba(39, 39, 39, 0.9);
  top: 0;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}