.text-channel-containerz {
  background: #52586d;
  width: 73.9vw;
  height: 100vh;
  position: absolute;
  left: 215px;
}

.mapped-message-holder {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 73.9vw;
  height: 80vh;
}

.messaging-picture {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1vh;
  margin-bottom: 2px;
}

.messaging-sender {
  display: flex;
  color: #00b9ff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 1vh;
}

.messaging-sender-not-user {
  display: flex;
  color: #dda0dd;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}

.messages {
  /* margin-bottom: 1.5vh; */
}

.message-color {
  margin-left: 5vw;
  font-size: 15px;
  color: rgb(200, 201, 202);
}

.message-footer {
  background-position: 0% 0%;
  position: fixed;
  height: 8vh;
  width: 73.9vw;
  bottom: 0pt;
  background-color: #52586d;
}

.message-input {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  margin-top: 1vh;
  background-attachment: scroll;
  height: 4vh;
  width: 50vw;
  background-color: rgb(101, 108, 133);
  border: 0px solid;
  color: rgb(200, 201, 202);
}
