.specific-user-holder{
    display: flex;
    margin-bottom: 3vh;
}

.image-request{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 60px;
    border-style: solid;
    border-color: #3ea7f1;
    margin-top: 2vh;   
}

.pics-name{
    font-size: 20px;
    color: white;
    margin-top: 1.5vh;
    margin-left: 30px;
}