.req-map {
    height: 15vh;
    overflow-y: scroll;
  }

.blue-loader{
  animation: rotation 2s infinite linear;
  height: 5vh;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  
  .req-map::-webkit-scrollbar { width: 0 !important }

