.menu-btn {
  margin-right: 2px;
  color: white;
 }
 .add-server-btn {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .drawer {
  flex-shrink: 0;
 }
 .menu-header {
  height: 63px;
  align-items: center;
  display: flex;
 }
 .arrow-btn {
  color: white;
 }
 .list-item-text {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
 }
 .tool-bar {
  background: #52586d;
 }
 .icon-btn {
  margin-right: 2;
 }
 .news {
  flex-grow: 1;
 }
 .header {
  display: flex;
  align-items: center;
 }
 .logout-parent {
  display: flex;
  justify-content: flex-end;
  width: 90%;
 }