.news-background {
  background: #52586d;
  height: 100vh;
  width: 85.1vw;
  position: absolute;
  left: 72px;
  top: 64px;
}

.news-title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 19px 0px;
  color: white;
  background: #3d4251
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}