.news-background {
  background: #52586d;
  height: 100vh;
}

.news-title {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #373c49;
  padding: 19px 0px;
  color: white;
}
.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}